body{
    background-color: #101010;
    
    /*First choice, snd choice etc if browser does not support*/
    font-family: Verdana, Arial, sans-serif;
    font-size: 1em;
    color: rgb(200,200,200);
  }
        
.copyright{
    font-size: 70%;
    }

textarea{
    width: 100em;
    height: 20em;
}