label {
  margin-right: 0.5em;
}

.buttons button {
  font-size: 3em;
  margin: 0.1em;
  width: 2em;
  height: 2em;
  display: inline-block;
  background-color: #303030;
  transition-duration: 100ms;
  background-repeat: no-repeat;
  background-size: 100%;
  border: none;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.buttons .active {
  background-color: #a0a0a0;
  transition-duration: 100ms;
}

.buttons #btn-left {
  background-image: url(assets/baseline-arrow_upleft-24px.svg);
}

.buttons #btn-forward,
.buttons #btn-tilt_camera_up {
  background-image: url(assets/baseline-arrow_upward-24px.svg);
}

.buttons #btn-right {
  background-image: url(assets/baseline-arrow_upright-24px.svg);
}

.buttons #btn-rot_left {
  background-image: url(assets/baseline-arrow_back-24px.svg);
}

.buttons #btn-reverse,
.buttons #btn-tilt_camera_down {
  background-image: url(assets/baseline-arrow_downward-24px.svg);
}

.buttons #btn-rot_right {
  background-image: url(assets/baseline-arrow_forward-24px.svg);
}

.disconnected {
  color: red;
}

@media screen and (min-width: 960px) {
  .p-cathunter .m-videostream--canvas {
    width: 960px;
    height: 720px;
  }
}
