.o-apps {
    /*height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;*/
}

.o-apps__app {
    margin: 20px 0;
}

.o-apps__icon {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

@media screen and (min-width: 710px) {
    .o-apps__icon {
        width: 300px;    
    }

    .o-apps__app {
        margin: 50px 0;
    }
}