.o-footer {
    text-align: center;
    background: #000;
    position: absolute;
    bottom: 0;
    height: 200px;
}

.o-footer .o-footer__copy {
    margin-bottom: 0;
}

img, a {
    width: 100;
    align-content: center;
    text-align: center;
    margin: 0.3em;
}

.twitter {
    width: 5%;
}