.o-login {
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 30%;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
}

.o-login input {
    width: 100%;
    background: #ccc;
    border: none;
}

.o-login button {
    border: none;
    background: #ccc;
}