.p-surveillance {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
}

.p-surveillance .container {
    width: 100%;
    text-align: center;
}