.p-surveillance {

}

.p-surveillance--cameras {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.p-surveillance--camera {
    margin: 10px;
}