.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #505050;
    width: 100%;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 0.7em;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: darkorange
    }

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}