.menu-item {
    padding: 5px;
    margin: 0;
    background-color: transparent;
}

.menu-item:hover {
    transition-duration: 500ms;
    background-color: #cc7700;
    text-decoration: none;
    color: #101010;
}

.active {
    text-decoration: underline;
}

.dropdown {
    display: inline-block;
    color: darkorange;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #202020;
    width: 100%;
    margin: 0;
    z-index: 1;
}

.dropdown-content a {
    display: block;
    font-size: 0.9em;
}

.dropdown:hover {
    background-color: darkorange;
    color: #101010;
    transition-duration: 300ms;
}

.dropdown:hover .dropdown-content {
    transition-duration: 300ms;
    display: block;
    background-color: #202020;
}