@import url('https://fonts.googleapis.com/css?family=Raleway');

html {
    min-height: 100%;
    position: relative;
}

body {
  background-color: #151515;
  font-family: 'Raleway', sans-serif;
  color: #CCCCCC;
  overflow-x: hidden;
  margin-bottom: 200px; /* Footer */
}

.center {
    text-align: center;
    align-content: center;
}

h1, a {
  color: white;
}

a:hover {
    color: white;
}


