@import url('https://fonts.googleapis.com/css?family=Bad+Script');

.home-container {
    text-align: center;
}

.row {
  width: 100%;
}

.slogan {
  
}

.big-button {
  font-size: 35px;
  border: none;
  border-radius: 5px;
}

.big-button:hover {
  box-shadow: 0 0 15px white;
  transition: 300ms;
}

.text-flirt {
  color: white;
  height: 5em;
  margin-top: 5em;
  font-family: 'Bad Script', cursive;
}